@import url(./colors.css);

html {
  background-color: var(--gb-dark0_soft);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20%;
}

h1 {
  color: var(--gb-brighter_blue);
}

label {
  color: var(--gb-light0);
  margin-right: 5.5px;
}

form {
  display: flex;
  flex-direction: column;

  border-width: 2px;
  border-radius: 2px;
  border-color: var(--gb-light0);
}

.error {
  color: var(--gb-bright_red);
}

.validation-error{
  color: var(--gb-bright_red);
}

#new-user {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#new-user p {
  color: var(--gb-light3);
}
