body {
  margin: 0;
}

header {
  position: relative;
  height: 750px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0px;
  border-bottom: red 2px;
}

section {
  padding: 20px;
  margin: 0px 40px;
}

div#username {
  display: flex;
  align-items: center;
  position: absolute;
  margin: auto;
  bottom: 0;

  z-index: 2;
  font-size: 70px;
  color: var(--gb-bright_orange);
}

div#cover {
  position: absolute;

  top: 0px;
  width: 100%;
  height: 75%;

  background-position: center;
  background-size: cover;

  z-index: 0;
}

/* div#cover img { */
/**/
/* } */

div#profile-pic {
  position: absolute;
  top: 60%;
  height: 200px;
  width: 200px;
  z-index: 1;
}

div#profile-pic img, .post-profile-pic, .summary-profile-pic {
  border-radius: 50%;
  height: 100%;
}

div.view.hidden {
  display: none;
}

.movie-poster-box, .pic-box, .follower-pic-box, .following-pic-box {
  display: flex;
  flex-direction: row;
  width: 30px;
  height: 100px;
}

.movie-poster, .recently-poster-box{
  height: 100px;
  margin-right: 10px;
}

.recently-poster-box img {
  height: 100%;
}

[data-view-type="recently"].post{
  display: flex;
}

.entry-recently {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#recently-left {
  display: flex;
}

.icon-box:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.icon-box {
  display: flex;
  height: 40px;
  width: 40px;
  padding: 10px;
  border-radius: 50%;
}

.icon {
  height: 100%;
}

.x-icon-box {
  display: flex;
  height: 20px;
  align-items: center;
  padding: 0.75em;
  border-radius: 0.5em;
}

.x-icon-box:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.x-icon {
  height: 100%;
  border-radius: 50%;
  padding: 2px;
}

